$color-menu: #f4f1de;
$color-hover: #e0e0e050;
$color-primary: #002251;
$color-footer: #757575;
$color-link: #81b29a;
$color-link-hover: #337555;
$background-about: #82b29a;
$background-project: #f2cc8f;

// #3D405B;

.button-green {
    color: $color-link;
    border: 1px solid $color-link;
    padding: 10px 20px;
    margin-top: 15px;

    &:hover {
        color: $color-link-hover;
        border-color: $color-link-hover;
        text-decoration: none;
    }
}


// .button-cv {
//     color: #fff;
//     border: 1px solid #fff;
//     padding: 7px 35px;
//     margin-top: 20px;
//     background: transparent;
    

//     &:hover {
//         color: $color-link-hover;
//         border-color: $color-link-hover;
//         text-decoration: none;
//     }

// }

