$color-primary: #002251;
$color-menu: #3D405b;
$color-hover: #e0e0e050;

.selected {
	color: black;
}

.nav-link {
	color: $color-primary;
}
.menu {
	position: fixed;
	cursor: pointer;
	width: 100%;
	height: 5em;
	top: 0;
	background-color: $color-menu;


	&-button{
		border: .5px solid gray;

	}

	

	& .menu-container {
		width: 40px;
		height: 30px;
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		animation-name: animationMenu;
		animation-duration: 1s;
		background-color: transparent;
		& .line {
			border-top: 1px solid $color-menu;
			display: block;
			width: 100%;
			height: 1px;
		}
	}
	& .menu-container-img {
		animation-name: animationMenuImg;
		animation-duration: 2s;

		& img {
			width: 50px;
		}
	}
}

.none {
	display: none !important;
}

@keyframes animationMenu {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animationMenuOpen {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes animationMenuImg {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
