@import './Colors.scss';

.selected {
	color: black;
}

.nav-link {
	color: $color-primary;
}
.menu {
	position: fixed !important;
	width: 100%;
	top: 0;
	background-color: $color-menu;
	z-index: 100;

	& &-bar {
		height: 5em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		
	}

	& .logo {
		color: $color-link;
		text-decoration: line-through $color-link-hover;

		&-simbol {
			color: $color-link-hover;
		}
	}
	&-button{
		border: .5px solid gray;

	}
	& .navbar-nav a {
		color: $color-link;

		&:hover {
			color: $color-link-hover;
		}

		
	}
}

@media only screen and (max-width: 992px) {
    .menu {

		& &-bar {
			width: 100%;
		}

    }
  }



.none {
	display: none !important;
}

@keyframes animationMenu {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animationMenuOpen {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes animationMenuImg {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
